
:root {
    --primary: #00a4d6;
    --font-primary: #fff;
}

.portfolio-btn {
    background: var(--primary);
    color: var(--font-primary);
    padding: 8px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 300;
    transition: .3s;
}

.portfolio-btn:hover {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}

.contact-link {
    color: #fff;
    font-size: 26px;
    opacity: .7;
    transition: .3s;
}

.contact-link:hover {
    transform: scale(1.1);
}

.atom {
    position: absolute;
    z-index: -1;
}